{% extends "base.html" %}
{% block titulo %}Login{% endblock %}
{% block contenido %}
<div class="container col-md-8 mt-5">
    <div class="row"> 
            <div class="col-md-12 col-lg-6">
                    <form action="/procesar_registro" method="POST">
                        <div class="mb-3">
                            <h2 class="form-label">Registro Usuario</h2>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input  class="form-control" type="text" name="nombre" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="apellido"  class="form-label">Apellido:</label>
                            <input  class="form-control" type="text" name="apellido" id="apellido">
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email:</label>
                            <input  class="form-control" type="email" name="mail" id="mail">
                        </div>
                        <div class="mb-3">
                            <label for="contraseña" class="form-label">Contraseña:</label>
                            <input  class="form-control" type="password" name="contraseña" id="contraseña">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_contraseña" class="form-label">Confirmar Contraseña:</label>
                            <input  class="form-control" type="password" name="confirm_contraseña" id="confirm_contraseña">
                        </div>
                        <div class="mb-3">
                        <input class="btn btn-info" type="submit" value="Agregar">
                        </div>
                    </form>
                
            </div>
            <div class="col-md-12 col-lg-6">
                
                    <form action="/procesar_login" method="POST">
                        <div class="form-group">
                            <h2 class="form-label">Login</h2>
                        </div>
                        <div class="form-group ">
                            <label for="Mail" class="form-label">Correo:</label>
                            <input  class="form-control" type="text" name="mail" id="mail">
                        </div>
                        <div class="form-group ">
                            <label for="contraseña" class="form-label">Contraseña:</label>
                            <input  class="form-control" type="password" name="contraseña" id="contraseña_ing">              
                        </div>
                        <div class="form-group ">
                            <input class="btn btn-primary" type="submit" value="Ingresar">
                        </div>
                    </form>
                
            </div>
    </div>
</div>
{% endblock %}